body {
  background: #f9f7fe;
  font-family: "Roboto Condensed", sans-serif;
}
header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}

.weather-app {
  background: white;
  max-width: 600px;
  margin: 30px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}
.search-form-input {
  background: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 80%;
  padding: 15px 20px;
  /* padding is what made the box the height that it is
  width made it go that far into the .weather-app */
}
.search-form-button {
  background: #885df1;
  padding: 15px 20px;
  border: none;
  border-radius: 6px;
  color: white;
  margin-left: 5px;
  font-size: 16px;
}
main {
  padding: 30px 0;
  /* h1 naturally has padding, so adding in styling in the main is trying 
  to make it look better. Next styling is on the h1 class */
}
.weather-app-data {
  display: flex;
  /* display:flex makes it so that the attributes in this div 
  are next to each other; this includes all the classes in this div*/
  justify-content: space-between;
  /* makes it so that the two columns are on either end of the page */
}

.weather-app-temperature-container {
  display: flex;
  /* icon, temp, and unit are all their own divs, which puts them all on 
  different lines. display:flex puts them on the same line. I think making
  them spans instead of divs would have also put them on the same line */
}
.weather-app-city {
  font-size: 38px;
  margin: 0;
  /* this got rid of any space above the city name*/
  line-height: 48px;
}
.weather-app-details {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}
.weather-app-details strong {
  color: #f65282;
}

.weather-app-icon {
  height: 88px;
  width: 88px;
  /* margin-top: 22px; original code included font-size and margin-top, 
  /* changed to height and width
  /* margin-top moved the icon down so it looked better relative to the 
  temperature. 
  Because the icon, temperature, and unit are all wrapped in
  the temperature container, display flex puts them on the same line */
  /* we do not have to use absolute positioning on the icon or the unit 
  because of display:flex-or flex box. so we can use margin-top to move
  the different classes around*/
}

.weather-app-temperature {
  font-size: 88px;
  font-weight: bold;
  line-height: 88px;
}
.weather-app-unit {
  margin-top: 6px;
  /*we do not have to use absolute positioning here because of flex box*/
  font-size: 28px;
}

a {
  color: #885df1;
}
footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
}
